.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid red;
  /* padding: 
  10px; */
}

.main-container p {
  float: left;
}

.main-container__user {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 5%;
  float: right;
}

.main-container__user__nameandreview {
  display: flex;
  width: 70%;
  align-items: center;
  gap: 15%;
  /* border: 2px solid red; */
}
.main-container__user__image {
  width: 30%;
}

.main-container img {
  width: 80px;
  height: 100px;
}
