.view-container {
  /* position: relative; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 90%;
  height: auto;
  padding: 30px;
  border: 1px solid black;
  /* overflow: hidden; */
  /* overflow-x: scroll; */
}

@media (max-width: 768px) {
  .view-container {
    display: grid;
    grid-template-columns: auto;
    border: none;
  }
}

/* .view-container::before {
  content: "PAHAD";
  font-weight: bold;
  position: absolute;
  top: 9%;
  left: 10%;
  background-color: grey;
  padding: 5px;
  border-radius: 5%;
} */
